* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
}

.test_div {
    position: absolute;
    width: 1440px;
    height: 2700px;
    opacity: 0.3;
    top: -24px;
    background-image: url('../img/TeslaLanding.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    align-items: center;
    margin: 24px 60px 0px 44px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 166px;
    height: 51px;
    background-image: url('../img/Tesla-Wordmark-Red.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_item {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px transparent solid;
    border-radius: 7%;
    transition: 0.2s;
}

.menu_item:hover {
    color: #E51937;
    border-bottom: 2px solid #E51937;
    border-radius: 7%;
}

.menu-main, .menu-second{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-main {
    padding-left: 80px;
}

.menu-main li {
    margin-right: 45px;
}

.menu-second li:last-child {
    width: 24;
    margin-right: 0;
}

.menu-second .menu_item {
    margin-right: 30px;
}

.tesla_titel {
    position: relative;
}
.tesla_woodmark {
    position: absolute;
    right: -7px;
    width: 1514px;
    height: 467px;
    opacity: 0.1;
    background-image: url('../img/Tesla-Wordmark-Red.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.tesla_titel h1 {
    margin: 58px 0 0 0 ;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    
}
.tesla_titel .welcome {
    position: relative;
    top: -10px;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.model_s {
    margin: 15px auto;
    position: relative;
    padding: 0;
    width: 968px;
    height: 450px;
    flex-shrink: 0;
    background-image: url('../img/tesla-png-tesla-png-hd-1636-light.png');
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    right: 2.6%;
}

.specifications {
    display: flex;
    align-items: center;
    margin-top: 26px;
    padding-left: 319px;
    display: flex;
    align-items: center;
}

.spec_1 {
    margin-right: 80px;
}

.spec_1, .spec_2{
    display: flex;
}

.spec_1 div, .spec_2 div {
    margin-top: 2px;
    height: 68px;
}

.speed_img {
    padding-top: 13px;
    height: 100%;
    margin-right: 8px;
}

.distance_img {
    padding-top: 10px;
    height: 100%;
    margin-right: 5px;
}

.main_spec {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main_spec span {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.second_spec {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.action {
    margin: 0;
    display: flex;
}

.test_drive {
    margin-left: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.test_drive img {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    margin-right: 8px;
}

.test_drive a {
    text-decoration: none;
    width: 89px;
    height: 14px;
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.to_order {
    align-items: center;
    margin-left: 35px;
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    background-color: transparent;
}

.to_order a {
    width: 100px;
    height: 15px;
    text-decoration: none;
    color: #E51937;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.description {
    position: relative;
    margin-top: 25px;
}
.description_first {
    margin-top: 33px;
    width: 100%;
    position: relative;
}

.direction_down {
    margin-left: 50%;
    margin-right: 50%;
    width: 34px;
    height: 20px;
    background-image: url('/img/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.model_cockpit {
    position: absolute;
    width: 1548px;
    height: 844px;
    background-image: url('/img/2013-tesla-model-s-cockpit.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 56px;
}

.direction_title {
    margin: 8px 0 0 80px;
    color: #E51937;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.model_description {
    padding-top: 51px;
    padding-left: 52px;
    position: relative;
    width: 440px;
    height: 900px;
    background: #E51937;
    left: 1000px;
}

.description__title h3 {
    padding: 0;
    margin: 0;
    width: 316px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description__title p {
    padding: 0;
    margin: 11px 0 0 0;
    width: 316px;
    height: 206px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
