* {
    box-sizing: border-box;
    /* border: 0.01px solid green; */
}

body {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    /* border-left: 0.2px solid green;
    border-right: 0.2px solid green; */
}

.test_div {
    z-index: 3;
    position: absolute;
    width: 1440px;
    height: 2700px;
    opacity: 0.3;
    top: -24px;
    background-image: url('../img/reference/test-drive-1-hover.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar {
    align-items: center;
    margin: 24px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 166px;
    height: 51px;
    background-image: url('../img/tesla-wordmark-red.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_item {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 2px transparent solid;
    border-radius: 7%;
    transition: 0.2s;
}

.menu_item:hover {
    color: #E51937;
    border-bottom: 2px solid #E51937;
    border-radius: 7%;
}

.menu-main, .menu-second{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-main {
    padding-left: 105px;
}

.menu-main li {
    margin-right: 45px;
}

.menu-second li:last-child {
    width: 24;
    margin-right: 0;
}

.menu-second .menu_item {
    margin-right: 30px;
}

/*

tesla title

*/

.tesla_titel {
    position: relative;
}

.tesla_woodmark {
    position: absolute;
    width: 1440px;
    height: 467px;
    opacity: 0.1;
    background-image: url('../img/tesla-wordmark-red.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.tesla_titel h1 {
    margin: 58px 0 0 0 ;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    
}

.tesla_titel .welcome {
    position: relative;
    top: -10px;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
}

.model_s {
    margin: 15px 0 0 0;
    position: relative;
    padding: 0;
    width: 968px;
    height: 450px;
    flex-shrink: 0;
    background-image: url('../img/tesla-png-tesla-png-hd-1636-light.png');
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    left: 16.5%;
}

.specifications {
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: 26px;
    padding-left: 319px;
    display: flex;
    align-items: center;
}

.specifications .spec_1 {
    margin-right: 78px;
}

.specifications .spec_1, .specifications .spec_2{
    display: flex;
}

.specifications .spec_1_speed_img{
    margin-top: 16px;
    width: 55px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/speed.png');
}

.specifications .spec_1_speed {
    margin-left: 7px;
}

.specifications .spec_2_distance_img {
    margin-top: 7px;
    width: 47px;
    background-repeat: no-repeat;
    background-image: url('../img/road-Icon.png');
    background-size: contain;
}

.main_spec {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.main_spec span {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.second_spec {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.tesla_titel .action {
    margin: 5px 0 0 0;
    display: flex;
}

.tesla_titel .test_drive {
    margin-left: 100px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.tesla_titel .test_drive:hover > * {
    color: #E51937;
}

.tesla_titel .test_drive_img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    background-size: contain;
    background-image: url("../img/steering-wheel.png");
}

.tesla_titel .test_drive:hover > .test_drive_img {
    background-size: contain;
    background-image: url("../img/steering-wheel-hover.png");
}

.tesla_titel .test_drive a {
    text-decoration: none;
    width: 89px;
    height: 14px;
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.tesla_titel .to_order {
    align-items: center;
    margin-left: 35px;
    width: 160px;
    height: 40px;
    border: 2px solid #E51937;
    background-color: transparent;
}

.tesla_titel .to_order:hover {
    background-color: #E51937;
}

.tesla_titel .to_order a {
    width: 100px;
    height: 15px;
    text-decoration: none;
    color: #E51937;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.tesla_titel .to_order:hover > * {
    color: #ffffff;
}

.direction_down {
    margin-left: 50%;
    margin-right: 50%;
    width: 34px;
    height: 20px;
    background-image: url('../img/vector.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/*

description_specs

*/

.description {
    position: relative;
    margin-top: 34px;
}

.description_first {
    margin-top: 34px;
    width: 100%;
    position: relative;
}

.description_model_cockpit {
    position: absolute;
    width: 100%;
    height: 844px;
    background-image: url('../img/2013-tesla-model-s-cockpit.png');
    background-size: contain;
    background-repeat: no-repeat;
    top: 56px;
}

.description_title {
    margin: 8px 0 0 80px;
    max-width: 300px;
    color: #E51937;
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.model_description {
    padding-top: 51px;
    position: relative;
    width: 440px;
    height: 900px;
    background: #E51937;
    left: 1000px;
}

.model_description_title {
    margin-left: 52px;
}

.model_description_title h3 {
    padding: 0;
    margin: 0;
    width: 316px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.model_description_title p {
    padding: 0;
    margin: 11px 0 0 0;
    width: 316px;
    height: 206px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.22em;
}

.description_spec_1, .description_spec_2, .description_spec_3 {
    display: flex;
    align-items: center;
}

.description_spec_2 {
    margin-top: 35px;
}

.description_spec_3 {
    margin-top: 38px;
}

.description_specs {
    margin-left: 52px;
    margin-top: 66px;
    width: 316px;
}

.description_specs .main_spec {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.description_specs .main_spec span {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    line-height: 0px;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
}

.description_specs .second_spec {
    width: 180px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.description_spec_1 .spec_screen_img {
    width: 36px;
    height: 53px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/screen.png');
}

.description_spec_1 .spec_screen {
    margin-left: 19px;
}

.description_spec_2 .spec_wifi_img {
    position: relative;
    left: -4px;
    width: 58px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/wifi.png');
}

.description_spec_2 .spec_wifi {
    margin-left: 17px;
}

.description_spec_3 .spec_bag_img {
    width: 36px;
    height: 52px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/bag.png');
}

.description_spec_3 .spec_bag {
    margin-top: 7px;
    margin-left: 25px;
}

.description_action {
    padding: 0;
    margin: 172px 0 0 49px;
    display: flex;
    width: 347px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.description_action .more_info {
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.more_info p {
    width: 22px;
    height: 22px;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    border: 2px solid white;
    border-radius: 50%;
}

.more_info a {
    text-decoration: none;
    color: #ffffff;
    width: 142px;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.description_action .more_info:hover > p {
    color: #E51937;;
    background-color: #FFF;

}

.description_action .to_order {
    align-items: center;
    width: 165px;
    height: 40px;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.description_action .to_order a {
    width: 100px;
    height: 15px;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.description_action .to_order:hover {
    background-color: white;
}

.description_action .to_order:hover > * {
    color: #E51937;
}

.description_second .model_description {
    left: 0;
}

.description_second .model_description_title {
    margin-left: 56px;
}

.description_second .model_description_title p {
    margin-top: 13px;
    height: 100%;
}

.protection_assessment {
    margin-top: 55px;
    margin-left: 56px;
}

.protection_assessment h3 {
    margin: 0;
    margin-bottom: 27px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.protection_assessment p {
    position: relative;
    height: 25px;
    width: 316px;
    margin: 0;
    margin-bottom: 12px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.protection_assessment p::after {
    position: absolute;
    top: -2px;
    right: 24px;
    content: url("../img/stars.png");
    vertical-align: middle;
    text-align: right;
    width: 141px;
    height: 25px;
}

.protection_assessment p:last-child {
    margin-bottom: 0;
}

.protection_assessment p span {
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.7;
}

.security {
    display: flex;
    margin: 108px 0 0 66px;
    align-items: center;
}

.security .security_img {
    width: 62px;
    height: 74px;
    background-size: contain;
    background-image: url("../img/security.png");
}

.security .security_text {
    margin-left: 23px;
}

.security .security_p_main {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
}

.security .security_p_second {
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

.description_second .description_action {
    margin-top: 60px;
    margin-left: 38px;
}

.description_second {
    position: relative;
}

.model_s_title {
    position: absolute;
    top: 97px;
    left: 623px;
    width: 821px;
    height: 269px;
    color: #E51937;
    font-family: Montserrat;
    font-size: 200px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.1;
}

.car_frame {
    position: absolute;
    top: 172px;
    left: 345px;
    width: 1049px;
    height: 580px;
    background: url("../img/car_frame.png")
}